@model IEnumerable<Product_management.EF.Product>

<p>
    @Html.ActionLink("Logout", "Logout")
    @Html.ActionLink("View Cart", "ViewCart")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>



    <!--<td>-->
    @* @Html.ActionLink("Add to Cart", "AddTo<!--Cart", new { id = item.Productid, productName = item.ProductName })*@

    @* @Html.ActionLink("Details", "Details", new { id=item.Productid }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Productid })*@
    <!--</td>-->


    <td>

        @*  @Html.ActionLink("Add to Cart quantity", "AddToCart", new { id = item.Productid, productName = item.ProductName, quantity = 1 }, new { @class = "add-to-cart-link" })
            <input type="number" class="quantity-input" min="1" value="1" data-product-id="@item.Productid" data-product-name="@item.ProductName">*@


    </td>
    @using (Html.BeginForm("AddToCart", "Customer", FormMethod.Post))
    {
        <td>
            @Html.Hidden("id", item.Productid)
            @Html.Hidden("productName", item.ProductName)
            <input type="number" class="quantity-input" name="quantity" min="1" value="1">
            <input type="submit" class="add-to-cart-link" value="Add to Cart quantity">
        </td>
    }






</tr>
    }

</table>


@*
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




<script>

    $(document).ready(function () {
        $(".add-to-cart-link").on("input", function () {
            // Get the product ID and name from the data attributes-->

           var productId = $(this).data("product-id");
            var productName = $(this).data("product-name");


            // Get the updated quantity from the input field
            var quantity = $(this).val();

            // Find the closest "Add to Cart" link for the current input field
            var addToCartLink = $(this).closest("td").find(".quantity-input").val();

            // Update the data attributes of the "Add to Cart" link with the updated quantity
            addToCartLink.data("quantity", quantity);

            // Make an AJAX request to your AddToCart action when the quantity changes
            $.ajax({
                type: "POST",
                url: "/Customer/AddToCart", // Replace with your actual controller and action
                data: { id: productId, productName: productName, quantity: quantity },
                success: function (data) {
                    // Handle the success response if needed
                },
                error: function (error) {
                    // Handle the error if needed
                    console.error("AJAX error:", error);
                }
            });
        });
    });


</script>


*@
